# How Encoding Of Nominal Data

In [1]:
import pandas as pd
x = pd.DataFrame({'Animals':['Fox','Horse','Goat','Fox','Lion','Tiger','Camel','Dog','Fox']}) # Nominal Data
#y = pd.DataFrame({'Fruits':['Apple','Orange','Banana','Papaya','Guava','Sarifa','Cherry','Black Plum','Anaspati']})

In [2]:
#z = pd.concat([x,y],axis=1)

In [3]:
x

  Animals
0     Fox
1   Horse
2    Goat
3     Fox
4    Lion
5   Tiger
6   Camel
7     Dog
8     Fox

In [4]:
from sklearn.preprocessing import LabelEncoder # use this for nominal data 
la = LabelEncoder()
x['en_code'] = la.fit_transform(x['Animals'])

In [5]:
x

  Animals  en_code
0     Fox        2
1   Horse        4
2    Goat        3
3     Fox        2
4    Lion        5
5   Tiger        6
6   Camel        0
7     Dog        1
8     Fox        2